# Dependencias
node_modules/

# Variables de entorno (¡NUNCA subir!)
.env
backend/.env
*.env.local

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
backend/consentimientos.json

# Python (para python-services/)
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/
python-services/venv/

# WordPress (por si acaso, aunque no debería haber nada de esto en el repo)
wp-config.php
wp-content/uploads/
wp-content/plugins/
wp-content/themes/astra/
